body {}

h1 {}

h2 {}

img {

max-width: 100%;

}

figure {

margin: 0;

}       
 /*mobiler*/ 
@media screen (min-width: 320px) (max-width: 480px) {
    .text {
        body {
            background-color: orange;
        font-size: 16px;
    }
 
    /*Plattor*/ 
 @media screen (min-width: 481px) (max-width: 768px) {
    .text {
        body {
            background-color: gold;
        font-size: 16px;
    }

/*Små skärmar*/
@media screen (min-width: 769px) (max-width: 1024px) {
    .text {
        body {
            background-color: lavender;
        font-size: 16px;
    }
}               
 